body {
	margin: 0;
	padding: 0;
    background-color: #f7f7f7;
    font-size: 16px;
    line-height: 25px;
    color: #3b3b3b;
    font-family: 'Roboto Condensed', sans-serif
}

img {
	max-width: 100%;
}

.bold {
	font-weight: bold;
}

/*------------
	HEADER
-------------*/

header {
    height: 75px;
    margin-top: 80px;
}

header .logo {
	float: left;
}

header .logo a {
	font-weight: bold;
	text-transform: uppercase;
	color: #3b3b3b;
	font-size: 2em;
}

header .logo a:hover {
	text-decoration: none;
}

header p {
	font-style: italic;
	font-size: 1.1em;
	color: #676765;
}

header nav {
	float: right;
	padding-top: 10px;
	padding-right: 25px;
}

header nav a {
	color: #848484;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 30px;
    font-size: 1.1em;
}

header nav a:hover {
	text-decoration: none;
	color: #c4c4c4;
}

header nav a:visited {
	color: #848484;
	text-decoration: none;
}

.disabled {
   pointer-events: none;
   cursor: default;
}


/*------------
	INTRO
-------------*/

.intro {
	margin-top: 50px;
}

.intro h1 {
	font-size: 30px;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 200;
    width: 100%;
}

/*------------
	ABOUT
-------------*/

.about {
	margin-top: 30px;
}

.about .about-content {
	margin-top: 30px;
}

.about .about-content .about-info h3 {
	margin-bottom: 15px;
	padding-top: 10px;
}

.about .about-content .about-clients {
	margin-top: 50px;
}

.about .about-content .about-clients h3 {
	padding: 10px 0;
}

.about-clients .images .language-logo {
	padding: 10px;
}

/*------------
	FOOTER
-------------*/

footer {
	margin: 100px 0 25px;
	text-align: left;
	font-size: 14px;
}
